*~
.DS_Store
__pycache__

playground/.llm-citations.cache.json

playground/*.html

playground/*.tex
playground/*.aux
playground/*.out
playground/*.pdf
playground/*.log
playground/*.fls
playground/*.fdb_latexmk
playground/*.synctex.gz
